In [2]:
import pandas as pd
from clickhouse_driver import Client
import json

In [3]:
# данные для подлкючения вынесены в отдельный файл
with open('entities.json', encoding='utf-8') as f:
    templates = json.load(f)

host = templates['host']
user = templates['user']
password = templates['password']
database = templates['database']

In [35]:
#Подключаемся к БД и проверяем наличие необзодимой таблицы
client = Client(host,
                user=user,
                password=password,
                database=database)
client.execute('DESCRIBE TABLE marvel')

[('user_id', 'UUID', '', '', '', '', ''),
 ('installed_at', 'DateTime', '', '', '', '', ''),
 ('created_at', 'DateTime', '', '', '', '', ''),
 ('day', 'Int32', '', '', '', '', ''),
 ('country', 'LowCardinality(String)', '', '', '', '', ''),
 ('app_version_short', 'LowCardinality(String)', '', '', '', '', ''),
 ('last_time_spent', 'UInt32', '', '', '', '', ''),
 ('lifetime_session_count', 'UInt32', '', '', '', '', ''),
 ('activity_kind', 'LowCardinality(String)', '', '', '', '', ''),
 ('event_name', 'LowCardinality(String)', '', '', '', '', ''),
 ('reporting_revenue', 'Float32', '', '', '', '', '')]

In [36]:
#Есть несколько способов: 
#написать сложные sql запросы и потом в питоне данные обработать немного
#написать простой sql запрос и обработать данные в питоне необходимым способом
#В данном случае в питоне можно довольно быстро поработать с данными + он мне удобен, поэтому я выбираю данный подход

rr_data = client.execute('''
                                select 
                                    user_id,
                                    formatDateTime(installed_at, '%F') AS installed_at,
                                    day AS day_after_install
                                from marvel
                                group by user_id, installed_at, day_after_install
                             ''')
#группировка, чтобы убрать дубли лишние

In [37]:
rr_data_df = pd.DataFrame(rr_data, columns=('uuid', 'installed_at', 'day_after_install'))

In [38]:
# Обработает дату, установки
rr_data_df['installed_at'] = pd.to_datetime(rr_data_df['installed_at'], format='%Y-%m-%d')
metrics_data_df.head()

,uuid,created_at_dt,installed_at,day_after_install,revenue,year_created_at,month_created_at,week_created_at,year_installed_at,month_installed_at,week_installed_at
0,626521f3-8eeb-ccee-6428-1c8883c09623,2020-05-09,2020-05-05,4,0.0,2020,5,19,2020,5,19
1,34c9c565-314b-df4c-2e1c-cae6fbd190e1,2020-06-27,2020-06-25,1,0.0,2020,6,26,2020,6,26
2,b4cd8fc9-a73d-33bb-9958-095517b7c67e,2020-04-13,2020-04-13,0,0.0,2020,4,16,2020,4,16
3,8c4b0dd5-71da-b261-2176-0a36b79b9f60,2020-03-30,2020-03-30,0,0.0,2020,3,14,2020,3,14
4,ef7c8ba1-7378-9201-7df9-70c16d55cb7f,2020-05-28,2020-05-21,6,0.0,2020,5,22,2020,5,21

In [39]:
#Формуруем датасет для визуализации RR
new_users = metrics_data_df.groupby('installed_at').uuid.nunique().reset_index()
retained_users = metrics_data_df[metrics_data_df['day_after_install'] > 0].groupby(
                                                        ['installed_at','day_after_install']).uuid.nunique().reset_index()

retained_users.rename(columns={'installed_at': 'dt', 'uuid': 'retained_users_count'}, inplace=True)
new_users.rename(columns={'installed_at': 'dt', 'uuid': 'new_users_count'}, inplace=True)

rr_df = new_users.merge(retained_users, how='outer', on='dt')
rr_df['retention'] = rr_df['retained_users_count'] / rr_df['new_users_count']

In [40]:
rr_df.head()

,dt,new_users_count,day_after_install,retained_users_count,retention
0,2019-12-16,2,32.0,1.0,0.5
1,2019-12-16,2,43.0,1.0,0.5
2,2019-12-16,2,59.0,1.0,0.5
3,2019-12-16,2,60.0,1.0,0.5
4,2019-12-16,2,62.0,1.0,0.5

In [20]:
arpu = client.execute('''
                                select 
                                    created_at_dt,
                                    countIf(revenue == 0) AS users_count_without_revenue,
                                    countIf(revenue > 0) AS users_count_with_revenue,
                                    sum(revenue)
                                from (
                                    select 
                                        formatDateTime(created_at, '%F') AS created_at_dt,
                                        user_id,
                                        sum(reporting_revenue) AS revenue
                                    from marvel
                                    group by user_id, created_at_dt
                                    )
                                group by created_at_dt
                                order by created_at_dt asc
                             ''')

In [43]:
arpu_df = pd.DataFrame(arpu, columns=('dt', 'users_count_without_revenue', 'users_count_with_revenue', 'revenue'))

In [44]:
arpu_df['arpu'] = arpu_df['revenue'] / (arpu_df['users_count_without_revenue'] + arpu_df['users_count_with_revenue'])

arpu_df['dt'] = pd.to_datetime(arpu_df['dt'], format='%Y-%m-%d') 
arpu_df.head()

,dt,users_count_without_revenue,users_count_with_revenue,revenue,arpu
0,2020-01-17,0,1,143.945755,143.945755
1,2020-01-20,0,2,10.810568,5.405284
2,2020-01-21,0,1,6.488145,6.488145
3,2020-01-22,0,1,6.675666,6.675666
4,2020-01-23,0,13,996.697218,76.669017

In [45]:
arpu_df

,dt,users_count_without_revenue,users_count_with_revenue,revenue,arpu
0,2020-01-17,0,1,143.945755,143.945755
1,2020-01-20,0,2,10.810568,5.405284
2,2020-01-21,0,1,6.488145,6.488145
3,2020-01-22,0,1,6.675666,6.675666
4,2020-01-23,0,13,996.697218,76.669017
5,2020-01-24,0,34,801.409727,23.570874
6,2020-01-25,0,27,292.450712,10.831508
7,2020-01-26,0,32,1409.428600,44.044644
8,2020-01-27,0,50,7103.790669,142.075813
9,2020-01-28,0,59,7813.744248,132.436343
10,2020-01-29,0,70,3537.008523,50.528693
11,2020-01-30,0,48,442.827012,9.225563
12,2020-01-31,0,44,369.490790,8.397518
13,2020-02-01,0,60,567.254901,9.454248
14,2020-02-02,0,143,1610.826782,11.264523
15,2020-02-03,0,126,1105.318893,8.772372
16,2020-02-04,0,104,914.701373,8.795206
17,2020-02-05,0,135,1330.000121,9.851853
18,2020-02-06,0,131,1332.306894,10.170282
19,2020-02-07,0,158,1464.022252,9.265964
20,2020-02-08,0,151,1571.535916,10.407523
21,2020-02-09,0,157,1435.131727,9.140966
22,2020-02-10,0,138,1259.681847,9.128129
23,2020-02-11,0,157,1336.586787,8.513292
24,2020-02-12,0,172,1404.502591,8.165713
25,2020-02-13,0,187,1786.690009,9.554492
26,2020-02-14,0,193,1904.659858,9.868704
27,2020-02-15,0,210,1906.014917,9.076262
28,2020-02-16,0,246,2568.134793,10.439572
29,2020-02-17,0,232,2365.120225,10.194484
...,...,...,...,...,...
135,2020-06-02,71126,477,6437.329033,0.089903
136,2020-06-03,73651,551,7980.945021,0.107557
137,2020-06-04,75398,638,9889.637746,0.130065
138,2020-06-05,77201,672,11399.956553,0.146392
139,2020-06-06,78481,603,10299.448445,0.130234
140,2020-06-07,79534,724,12202.666262,0.152043
141,2020-06-08,78334,686,10901.057622,0.137953
142,2020-06-09,79151,654,10599.957233,0.132823
143,2020-06-10,80044,694,11120.602527,0.137737
144,2020-06-11,81428,732,11435.972898,0.139191
145,2020-06-12,81172,721,11562.246826,0.141187
146,2020-06-13,81053,673,11819.937501,0.144629
147,2020-06-14,82698,792,13525.238490,0.161998
148,2020-06-15,82089,787,12900.033215,0.155655
149,2020-06-16,81655,697,10497.131522,0.127467
150,2020-06-17,81374,684,11028.927016,0.134404
151,2020-06-18,79212,652,11373.317908,0.142409
152,2020-06-19,78999,617,9834.912182,0.123529
153,2020-06-20,77942,615,10419.004656,0.132630
154,2020-06-21,78511,669,10125.602516,0.127881
155,2020-06-22,75508,549,8733.009081,0.114822
156,2020-06-23,75878,494,8095.171625,0.105997
157,2020-06-24,75514,462,7101.779226,0.093474
158,2020-06-25,73765,405,5590.185863,0.075370
159,2020-06-26,74544,415,5770.776353,0.076986
160,2020-06-27,75198,406,6889.732862,0.091129
161,2020-06-28,75061,407,7168.546407,0.094988
162,2020-06-29,72648,347,4729.804003,0.064796
163,2020-06-30,71261,376,5587.645669,0.077999
164,2020-07-01,68533,387,5588.191206,0.081082

In [46]:
#выгрузим данные в csv для загрузки в Tableu
rr_df.to_csv('AQ_output_rr.csv')
arpu_df.to_csv('AQ_output_arpu.csv')